<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova_plugin_android_permission" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Android Permission</name>
  <license>MIT</license>

  <platform name="android">

	<config-file target="AndroidManifest.xml" parent="/manifest">
        <queries>
			<package android:name="com.whatsapp" />
		</queries>
    </config-file>
	
  </platform>
  
</plugin>
